aiohttp==3.7.4.post0
alabaster==0.7.12
ape-etherscan==0.1.0a1
appdirs==1.4.4
appnope==0.1.2
asttokens==2.0.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
base58==2.1.0
basicpythonpackage @ file:///Users/ben/projects/vegaswap/repos/chaindev
bitarray==1.2.2
black==21.7b0
blake2b-py==0.1.3
bleach==3.3.1
brownie-token-tester==0.3.2
bump2version==1.0.1
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.6
chaindev==0.1.dev4+g4eb62a9.d20210806
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
clickctl==1.0
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
cytoolz==0.11.0
dataclassy==0.10.4
decorator==5.0.9
Deprecated==1.2.12
distlib==0.3.2
docutils==0.16
ECPy==1.2.5
eip712==0.1.0
eth-abi==2.1.1
eth-account==0.5.4
eth-ape==0.1.0a17
eth-bloom==1.0.4
eth-brownie==1.15.2
eth-event==1.2.3
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b3
eth-typing==2.2.2
eth-utils==1.10.0
execnet==1.9.0
filelock==3.0.12
flake8==3.9.2
future==0.18.2
hexbytes==0.2.1
hidapi==0.10.1
hypothesis==6.14.3
idna==3.2
imagesize==1.2.0
importlib-metadata==4.6.1
inflection==0.5.0
iniconfig==1.1.1
ipfshttpclient==0.7.0
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jeepney==0.7.0
Jinja2==3.0.1
jsonschema==3.2.0
keyring==23.0.1
lark==0.11.3
lazy-object-proxy==1.6.0
ledgerblue==0.1.35
ledgertools==0.1
legertools==1.0
lru-dict==1.1.7
ltools==1.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
multiaddr==0.0.9
multidict==5.1.0
mypy==0.720
mypy-extensions==0.4.3
mythx-models==1.9.1
netaddr==0.8.0
packaging==21.0
parsimonious==0.8.1
parso==0.8.2
pathspec==0.9.0
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip-tools==6.2.0
pkginfo==1.7.1
platformdirs==2.0.2
pluggy==0.13.1
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-ecc==4.1.0
py-evm==0.3.0a20
py-geth==3.4.0
py-solc-ast==1.2.8
py-solc-x==1.1.0
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pyethash==0.1.27
pyflakes==2.3.1
PyGithub==1.55
Pygments==2.9.0
pygments-lexer-solidity==0.7.0
PyJWT==1.7.1
PyNaCl==1.4.0
pyparsing==2.4.7
pyrsistent==0.18.0
pysha3==1.0.2
pytest==6.2.4
pytest-cov==2.12.1
pytest-forked==1.3.0
pytest-mock==3.6.1
pytest-xdist==1.34.0
python-dateutil==2.8.1
python-dotenv==0.16.0
python-u2flib-host==3.0.3
pythx==1.6.1
pytz==2021.1
PyYAML==5.4.1
readme-renderer==29.0
regex==2021.7.6
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rlp==1.2.0
SecretStorage==3.3.1
semantic-version==2.8.5
six==1.16.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
Sphinx==4.1.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==1.0.4
toolz==0.11.1
tox==3.24.0
tqdm==4.61.2
traitlets==5.0.5
trie==2.0.0a5
twine==3.4.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
varint==1.0.2
virtualenv==20.6.0
vvm==0.1.0
vyper==0.2.14
wcwidth==0.2.5
web3==5.21.0
webencodings==0.5.1
websocket-client==1.1.0
websockets==9.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.5.0
